.header-sm.visible-xs.visible-sm
  .logo
    .container
      = image_tag "logo.png"
      %h2
        Digital Sunrise
      %p
        комплексный интернет маркетинг
        %br
        для успешных продаж
  %nav.navbar.navbar-default.main_menu-sm{:role => "navigation"}
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %a.navbar-brand.pull-right.hidden-sm{href: "tel:+7 (800) 333-40-25"} +7 (800) 333-40-25
        %button.navbar-toggle.pull-left{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      / Collect the nav links, forms, and other content for toggling
      #navbar-collapse.collapse.navbar-collapse
        %a.navbar-brand.navbar-right.hidden-xs{href: "tel:+7 (800) 333-40-25"} +7 (800) 333-40-25
        %ul.nav.navbar-nav
          %li 
            %a{:href => "#"} Услуги
          %li 
            %a{:href => "#"} Агентство
          %li
            %a{:href => "#"} Контакты
          %li
            %a{:href => "#"} Полезные статьи
      / /.navbar-collapse
    / /.container-fluid
  .promo_block
    .container
      %h1
        Комплексный
        %br.visible-xs
        интернет-маркетинг &ndash;
        %br.visible-xs
        увеличение
        %br.visible-sm
        продаж в сети, 
        %br.visible-xs
        индивидуальная стратегия
        %br.visible-sm
        максимальный охват целевой
        %br.visible-xs
        аудитории
      %a.yellow_button{"data-target" => "#form-modal", "data-toggle" => "modal"}
        Узнать подробнее
.header.hidden-xs.hidden-sm
  .container
    .logo
      = image_tag "logo.png"
      %h2
        Digital Sunrise
      %p
        комплексный интернет маркетинг
        %br
        для успешных продаж
    %nav.main_menu.pull-right
      %ul
        / %li Услуги
        / %li Агентство
        / %li Контакты
        / %li Полезные статьи
        %li +7 (800) 333-40-25
      %span.pull-right.lang
        ru | en
    .promo_block
      %h1
        Комплексный интернет-маркетинг &mdash; 
        %br
        увеличение продаж в сети,
        %br
        индивидуальная статегия
        %br
        максимальный охват целевой аудитории
      %a.yellow_button{"data-target" => "#form-modal", "data-toggle" => "modal"}
        Узнать подробнее

.key_features
  %h3.block_title.visible-xs.visible-sm Максимальная отдача
  .container
    %h3.hidden-xs.hidden-sm Получите максимальную отдачу от интернет-рекламы
    %hr.hidden-xs.hidden-sm 
    .row.features
      .col-md-4
        .features__image_wrapper
          = image_tag "analytics.jpg"
        %h4 Цель
        %p
          Ставим цели, проводим аналитику, фиксируем текущие и заданные показатели
      .col-md-4
        .features__image_wrapper
          = image_tag "planning.jpg"
        %h4 Старт
        %p
          Планируем и разрабатываем концепцию проекта. Запускаем рекламную кампанию, измеряем KPI на каждом этапе.
      .col-md-4
        .features__image_wrapper
          = image_tag "tracking.jpg"
        %h4 Результат
        %p
          Анализируем достигнутые цели, проводим серию тестов, вносим изменения, достигаем заданного результата

.media_plan.hidden-xs.hidden-sm 
  .container
    .row
      .col-md-8
        %span
          Для эффективной рекламной кампании наши специалисты
          %br
          разрабатывают детальный медиаплан с учетом
          %br
          особенностей вашего бизнеса и рынка
        %a.black_button{"data-target" => "#form-modal", "data-toggle" => "modal"}
          Спланировать бюджет
      .col-md-2
        .plan
      
.systematic_approach
  %h3.block_title.visible-xs.visible-sm Системный подход
  .container
    %h3.hidden-xs.hidden-sm Cистемный интернет маркетинг и внедрение маркетинговой воронки
    %hr.hidden-xs.hidden-sm 
    .row.features
      .col-md-4
        .features__image_wrapper
          = image_tag "social_networks.png"
        %h4 
          Многоканальные рекламные
          %br
          кампании
        %p
          Включают в себя популяризацию бренда (разработка стратегии и концепции, мониторинг), создание и продвижение площадок. Это позволяет оптимизировать маркетинг-каналы, увеличить эффективность компании на 79% за счёт ремаркетинга, оценить экономическую целесообразность всего комплекса применяемых инструментов.
      .col-md-4
        .features__image_wrapper
          = image_tag "efficiency.png"
        %h4 
          Оптимизация коэффициента конверсии,
          %br веб-аналитика 
        %p
          Мы предлагаем вам разработку аналитической инфраструктуры, создание индивидуальных инструментов управленческой отчетности и отслеживания данных. Системный подход к вопросу повышения коэффициента конверсии, сплит-тесты для увеличения вашей прибыли более чем в 2-3 раза!
      .col-md-4
        .features__image_wrapper
          = image_tag "planning.png"
        %h4
          Тонкая настройка рекламы для 
          %br
          роста ваших продаж
        %p
          Мы не только организовываем и проводим рекламные кампании, но и осуществляем текущий контроль над выполнением всех мероприятий, оцениваем коммуникативную и экономическую эффективность рекламы. Это позволяет постоянно совершенствовать маркетинговые коммуникации, повышая эффективность контакта с аудиторией.
    .sales_funnel
      = image_tag "sales_funnel.png", class: "hidden-xs hidden-sm"
      = image_tag "sales_funnel_sm.png", class: "visible-xs visible-sm"
    .row.features
      .col-md-4
        .features__image_wrapper
          = image_tag "analytics.png"
        %h4 
          Реклама в нужное время
          %br
          и в нужном месте
        %p
          Реализуем комплекс мер, объединенных общей стратегией и KPI, направленных на увеличение прибыли и эффективного ROI. Наша цель &ndash; спрогнозировать сроки, бюджет и результат. Донести рекламное сообщение до максимально возможного числа потенциальных потребителей в рамках выделенного бюджета с минимальными затратами.
      .col-md-4
        .features__image_wrapper
          = image_tag "integration.png"
        %h4 
          Интеграция с CRM и 
          %br
          IP телефонией
        %p
          Позволяет проводить «сквозную» аналитику до продаж, считать и прогнозировать эффективность каждого рекламного канала в отдельности, измерять многоканальные коммуникации с клиентами и цикл сделки, централизованно управлять продажами и входящим маркетингом в реальном времени.
      .col-md-4
        .features__image_wrapper
          = image_tag "sales.png"
        %h4 
          Мы поднимем ваши продажи
          %br
          на новый уровень
        %p
          Для анализа маркетинговых активностей и текущей ситуации в вашей нише, 
          мы применяем методологию, основанную на эконометрическом анализе BIG DATA. Эта методика позволяет существенно повысить эффективность маркетинга и построить математическую модель для эффективного ведения вашего бизнеса в интернете. LTV, ROI.
.process
  %h3.block_title.visible-xs.visible-sm Прозрачный процесс
  .container
    %h3.hidden-xs.hidden-sm  Понятный и прозрачный процесс
    %hr.hidden-xs.hidden-sm 
    
    %h4 Заранее спланированный и прогнозируемый бюджет
    %h4 Все затраты прозрачны и доступны заказчику
    %h4 Проводим комплекс необходимых мер для продвижения вашего бизнеса
    
    .row.features
      .col-md-2.col-md-offset-1.col-sm-6
        .features__image_wrapper
          = image_tag "request.png"
        %h4 Заявка
        %p
          Вы оставляете
          заявку на сайте
          или связываетесь
          с нами по телефону
      .col-md-2.col-sm-6
        .features__image_wrapper
          = image_tag "information.png"
        %h4 Аналитика и цели
        %p
          Мы анализируем динамику спроса
          в вашей нише,
          на основании чего составляем медиаплан. Просчитываем маркетинговый бюджет для рекламной кампании  
      .col-md-2.col-sm-6
        .features__image_wrapper
          = image_tag "strategy.png"
        %h4 Стратегии успеха
        %p
          Мы разрабатываем систему маркетинговых мероприятий, направленную на достижение целей рекламной кампании
      .col-md-2.col-sm-6
        .features__image_wrapper
          = image_tag "customization.png"
        %h4 Анализ показателей
        %p
          Детальный анализ статистики позволяет понять, какие шаги необходимо предпринять для увеличения числа клиентов и оптимизации бюджета на трафик.
      .col-md-2.col-sm-6.col-sm-offset-3.col-md-offset-0
        .features__image_wrapper
          = image_tag "support.png"
        %h4 Системное развитие
        %p
          Мы осуществляем контроль расхода рекламного бюджета, вносим регулярные улучшения в рекламу, рассчитываем стоимость клиента, ROI, LTV и оптимизируем эти показатели.
    .row
      %a.yellow_button.hidden-xs.hidden-sm{"data-target" => "#form-modal", "data-toggle" => "modal"}
        Начните с консультации

.work_with_us
  %h3.block_title.visible-xs.visible-sm  Работать с нами легко
  .container
    %h3.hidden-xs.hidden-sm  Маркетинг, который можно измерить
    %hr.hidden-xs.hidden-sm 
    .row.features
      .col-md-4
        .features__image_wrapper
          = image_tag "reports.png"
        %h4 Прозрачная отчётность раз в месяц, сводные данные, аналитика, выводы
      .col-md-4
        .features__image_wrapper
          = image_tag "clock.png"
        %h4 
          Прогнозирование и комплексная оценка результата, сроков 
          %br
          и стоимости
      .col-md-4
        .features__image_wrapper
          = image_tag "in_touch.png"
        %h4 
          Контроль всех процессов
          %br
          в реальном времени,
          %br
          личный менеджер
    .row
      .col-md-4
        %a.yellow_button.visible-xs.visible-sm{"data-target" => "#form-modal", "data-toggle" => "modal"}
          Начните с консультации

.footer
  .container
    .row
      .col-md-6
        %span.copyright &copy; 2011-2014 Digital Sunrise
        %nav.social-nav
          %ul
            %li= image_tag "icon-fb.gif"
            %li= image_tag "icon-vk.gif"
            %li= image_tag "icon-twitter.gif"
            %li= image_tag "icon-gplus.gif"
            %li= image_tag "icon-linkedin.gif"
            %li= image_tag "icon-slideshare.gif"
            %li= image_tag "icon-vimeo.gif"
        %span.tagline.visible-xs.visible-sm 
          Системный интернет-маркетинг 
          %br.visible-xs
          на B2B и B2C рынках
      .col-md-6.hidden-xs.hidden-sm
        %nav.main_menu.pull-right
          %ul
            %li= mail_to "hello@digitalsunrise.ru"
            %li +7 (800) 333-40-25
        %hr.pull-right
        %span.tagline.pull-right Системный интернет-маркетинг на B2B и B2C рынках

/ Modal
#form-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            = image_tag "close.png"
          %span.sr-only Закрыть
        %h4#myModalLabel.modal-title Заполните форму для связи с нами
      .modal-body
        .row
          .col-md-5.col-md-offset-1.col-sm-5.col-sm-offset-1
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam...
          .col-md-5.col-sm-5
            = form_tag pages_submit_form_path do
              = text_field_tag :name, nil, placeholder: "Ваше имя"
              = phone_field_tag :phone, nil, placeholder: "Телефон"
              = text_field_tag :email, nil, placeholder: "E-mail"
              = submit_tag "Отправить"
            %p
              = image_tag "secure.png"
              %span Мы не передаем данные третьим лицам
      .modal-footer
        
  
  