.header-sm.visible-xs.visible-sm
  .logo
    .container
      = image_tag "logo.png"
      %h1
        Digital
        %br
        Sunrise
      %p
        комплексный интернет маркетинг
        %br
        для успешных продаж
  %nav.navbar.navbar-default{:role => "navigation"}
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %a.navbar-brand.pull-right.hidden-sm{href: "tel:+7 (800) 333-40-25"} +7 (800) 333-40-25
        %button.navbar-toggle.pull-left{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      / Collect the nav links, forms, and other content for toggling
      #navbar-collapse.collapse.navbar-collapse
        %a.navbar-brand.navbar-right.hidden-xs{href: "#"} +7 (800) 333-40-25
        %ul.nav.navbar-nav
          %li 
            %a{:href => "#"} Услуги
          %li 
            %a{:href => "#"} Агентство
          %li
            %a{:href => "#"} Контакты
          %li
            %a{:href => "#"} Полезные статьи
      / /.navbar-collapse
    / /.container-fluid
  .promo_block
    .container
      %p.visible-sm
        Комплексный интернет-маркетинг &ndash; увеличение
        %br
        продаж в сети, индивидуальная стратегия
        %br
        максимальный охват целевой аудитории
        %br
        и экономия бюджета
      %p.visible-xs
        Комплексный
        %br
        интернет-маркетинг &ndash; 
        %br
        увеличение продаж в сети, 
        %br
        индивидуальная стратегия
        %br
        максимальный охват целевой
        %br 
        аудитории и экономия бюджета
      %a.yellow_button
        Узнать подробнее
.header.hidden-xs.hidden-sm
  .container
    .logo
      = image_tag "logo.png"
      %h1
        Digital
        %br
        Sunrise
      %p
        комплексный интернет маркетинг
        %br
        для успешных продаж
    %nav.main_menu.pull-right
      %ul
        %li Услуги
        %li Агентство
        %li Контакты
        %li Полезные статьи
        %li +7 (800) 333-40-25
    .promo_block
      %p
        Комплексный интернет-маркетинг &mdash; 
        %br
        увеличение продаж в сети,
        %br
        индивидуальная стратегия
        %br
        максимальный охват целевой аудитории
        %br
        и экономия бюджета
      %a.yellow_button
        Узнать подробнее

.key_features
  %h3.block_title.visible-xs.visible-sm Максимальная отдача
  .container
    %h3.hidden-xs.hidden-sm Получите максимальную отдачу от интернет-рекламы
    %hr.hidden-xs.hidden-sm 
    .row.features
      .col-md-4
        .features__image_wrapper
          = image_tag "analytics.jpg"
        %h4 Цель
        %p
          Ставим цели, проводим аналитику,
          %br
          фиксируем текущие и заданные
          %br
          показатели
      .col-md-4
        .features__image_wrapper
          = image_tag "planning.jpg"
        %h4 Старт
        %p
          Планируем и разрабатываем концепцию
          %br
          проекта. Запускаем рекламную кампанию,
          %br
          измеряем KPI на каждом этапе.
      .col-md-4
        .features__image_wrapper
          = image_tag "tracking.jpg"
        %h4 Результат
        %p
          Анализируем достигнутые цели,
          %br
          проводим серию тестов, вносим изменения, 
          %br 
          достигаем заданного результата

.media_plan.hidden-xs.hidden-sm 
  .container
    .row
    .col-md-8
      %span
        Для эффективной рекламной кампании наши специалисты
        %br
        разрабатывают детальный медиаплан с учетом
        %br
        особенностей вашего бизнеса и рынка
      %a.black_button
        Спланировать бюджет
    .col-md-2
      .plan
      
.systematic_approach
  %h3.block_title.visible-xs.visible-sm Системный подход
  .container
    %h3.hidden-xs.hidden-sm Cистемный интернет маркетинг и внедрение маркетинговой воронки
    %hr.hidden-xs.hidden-sm 
    .row.features
      .col-md-4
        .features__image_wrapper
          = image_tag "social_networks.png"
        %h4 
          Многоканальные рекламные
          %br
          кампании (баннеры,
          %br
          контекстная реклама,
          %br
          социальные медиа и др.)
        %p
          Включают в себя популяризацию
          %br
          бренда (разработка стратегии 
          %br 
          и концепции, мониторинг), 
          %br
          создание и продвижение площадок.
          %br
          Это позволяет оптимизировать
          %br
          маркетинг-каналы,
          %br 
          увеличить эффективность 
          %br
          компании на 79% за счёт ремаркетинга,
          %br
          оценить экономическую целесообразность
          %br
          всего комплекса применяемых инструментов.
      .col-md-4
        .features__image_wrapper
          = image_tag "efficiency.png"
        %h4 Оптимизация коэффициента конверсии, веб-аналитика
        
        %p
          Мы предлагаем вам разработку
          %br
          аналитической инфраструктуры,
          %br
          создание индивидуальных
          %br
          инструментов управленческой
          %br
          отчетности и отслеживания данных.
          %br
          Системный подход к вопросу
          %br
          повышения коэффициента конверсии,
          %br
          сплит-тесты для увеличения вашей 
          %br
          прибыли более чем в 2-3 раза!
      .col-md-4
        .features__image_wrapper
          = image_tag "planning.png"
        %h4
          Тонкая настройка рекламы для 
          %br
          роста ваших продаж
        %p
        Мы не только организовываем
        %br
        и проводим рекламные кампании,
        %br
        но и осуществляем текущий контроль
        %br
        над выполнением всех мероприятий,
        %br 
        оцениваем коммуникативную и
        %br
        экономическую эффективность рекламы.
        %br
        Это позволяет постоянно совершенствовать
        %br
        маркетинговые коммуникации,
        %br
        повышая эффективность контакта с аудиторией.
    .sales_funnel
      = image_tag "sales_funnel.png", class: "hidden-xs hidden-sm"
      = image_tag "sales_funnel_sm.png", class: "visible-xs visible-sm"
    .row.features
      .col-md-4
        .features__image_wrapper
          = image_tag "analytics.png"
        %h4 
          Реклама в нужное время
          %br
          и в нужном месте
        %p
          Реализуем комплекс мер,
          %br
          объединенных общей стратегией и KPI,
          %br
          направленных на увеличение прибыли
          %br
          и эффективного ROI.
          %br
          Наша цель &ndash; спрогнозировать 
          %br 
          сроки, бюджет и результат. 
          %br
          Донести рекламное сообщение
          %br
          до максимально возможного числа
          %br
          потенциальных потребителей
          %br
          в рамках выделенного бюджета
          %br
          с минимальными затратами.
      .col-md-4
        .features__image_wrapper
          = image_tag "integration.png"
        %h4 
          Интеграция с CRM и 
          %br
          IP телефонией
        %p
          Позволяет проводить «сквозную»
          %br
          аналитику до продаж, считать и
          %br
          прогнозировать эффективность
          %br
          каждого рекламного канала в отдельности,
          %br
          измерять многоканальные коммуникации 
          %br
          с клиентами и цикл сделки,
          %br
          централизованно управлять продажами
          %br
          и входящим маркетингом
          %br
          в реальном времени.
      .col-md-4
        .features__image_wrapper
          = image_tag "sales.png"
        %h4 
          Мы поднимем ваши продажи
          %br
          на новый уровень
        %p
          Для анализа маркетинговых активностей
          %br
          и текущей ситуации в вашей нише, 
          %br
          мы применяем методологию,
          %br
          основанную на эконометрическом анализе BIG DATA.
          %br
          Эта методика позволяет существенно повысить
          %br
          эффективность маркетинга и 
          %br
          построить математическую модель
          %br
          для эффективного ведения
          %br
          вашего бизнеса в интернете. LTV, ROI.
.process
  %h3.block_title.visible-xs.visible-sm Прозрачный процесс
  .container
    %h3.hidden-xs.hidden-sm  Понятный и прозрачный процесс
    %hr.hidden-xs.hidden-sm 
    
    %h4 Заранее спланированный и прогнозируемый бюджет
    %h4 Все затраты прозрачны и доступны заказчику
    %h4 Проводим комплекс необходимых мер для продвижения вашего бизнеса
    
    .row.features
      .col-md-2.col-md-offset-1.col-sm-6
        .features__image_wrapper
          = image_tag "request.png"
        %h4 Заявка
        %p
          Вы оставляете
          заявку на сайте
          или связываетесь
          с нами по телефону
      .col-md-2.col-sm-6
        .features__image_wrapper
          = image_tag "information.png"
        %h4 Аналитика и цели
        %p
          Мы анализируем динамику спроса
          в вашей нише,
          на основании чего составляем медиаплан. Просчитываем маркетинговый бюджет для рекламной кампании  
      .col-md-2.col-sm-6
        .features__image_wrapper
          = image_tag "strategy.png"
        %h4 Стратегии успеха
        %p
          Мы разрабатываем систему маркетинговых мероприятий, направленную на достижение целей рекламной кампании
      .col-md-2.col-sm-6
        .features__image_wrapper
          = image_tag "customization.png"
        %h4 Анализ показателей
        %p
          Детальный анализ статистики позволяет понять, какие шаги необходимо предпринять для увеличения числа клиентов и оптимизации бюджета на трафик.
      .col-md-2.col-sm-6.col-sm-offset-3.col-md-offset-0
        .features__image_wrapper
          = image_tag "support.png"
        %h4 Системное развитие
        %p
          Мы осуществляем контроль расхода рекламного бюджета, вносим регулярные улучшения в рекламу, рассчитываем стоимость клиента, ROI, LTV и оптимизируем эти показатели.
    .row
      %a.yellow_button
        Начните с консультации

.work_with_us
  %h3.block_title.visible-xs.visible-sm  Работать с нами легко
  .container
    %h3.hidden-xs.hidden-sm  Маркетинг, ктороый можно измерить
    %hr.hidden-xs.hidden-sm 
    .row.features
      .col-md-4
        .features__image_wrapper
          = image_tag "reports.png"
        %h4 Прозрачная отчётность раз в месяц, сводные данные, аналитика, выводы
      .col-md-4
        .features__image_wrapper
          = image_tag "clock.png"
        %h4 
          Прогнозирование и комплексная оценка результата, сроков 
          %br
          и стоимости
      .col-md-4
        .features__image_wrapper
          = image_tag "in_touch.png"
        %h4 
          Контроль всех процессов
          %br
          в реальном времени,
          %br
          личный менеджер        

.footer
  .container
    .row
      .col-md-6
        %span.copyright &copy; 2011-2014 Digital Sunrise
        %nav.social-nav
          %ul
            %li= image_tag "icon-fb.gif"
            %li= image_tag "icon-vk.gif"
            %li= image_tag "icon-twitter.gif"
            %li= image_tag "icon-gplus.gif"
            %li= image_tag "icon-linkedin.gif"
            %li= image_tag "icon-slideshare.gif"
            %li= image_tag "icon-vimeo.gif"
        %span.tagline.visible-xs.visible-sm 
          Системный интернет-маркетинг 
          %br.visible-xs
          на B2B и B2C рынках
      .col-md-6.hidden-xs.hidden-sm
        %nav.main_menu.pull-right
          %ul
            %li Услуги
            %li Агентство
            %li Контакты
            %li Полезные статьи
            %li +7 (800) 333-40-25
        %hr.pull-right
        %span.tagline.pull-right Системный интернет-маркетинг на B2B и B2C рынках

  
  
  