.header-sm.visible-xs.visible-sm
  .logo
    .container
      = image_tag "logo.png"
      %h1
        Digital
        %br
        Sunrise
      %p
        комплексный интернет маркетинг
        %br
        для успешных продаж
  %nav.navbar.navbar-default{:role => "navigation"}
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %a.navbar-brand.pull-right.hidden-sm{href: "#"} +7 (800) 333-40-25
        %button.navbar-toggle.pull-left{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      / Collect the nav links, forms, and other content for toggling
      #navbar-collapse.collapse.navbar-collapse
        %a.navbar-brand.navbar-right.hidden-xs{href: "#"} +7 (800) 333-40-25
        %ul.nav.navbar-nav
          %li 
            %a{:href => "#"} Услуги
          %li 
            %a{:href => "#"} Агентство
          %li
            %a{:href => "#"} Контакты
          %li
            %a{:href => "#"} Полезные статьи
      / /.navbar-collapse
    / /.container-fluid
  .promo_block
    .container
      %p
        Разрабатываем
        %br
        и реализуем комплексные
        %br
        рекламные кампании
        %br
        в интернете
      %a.yellow_button
        Познакомиться поближе
.header.hidden-xs.hidden-sm
  .container
    .logo
      = image_tag "logo.png"
      %h1
        Digital
        %br
        Sunrise
      %p
        комплексный интернет маркетинг
        %br
        для успешных продаж
    %nav.main_menu.pull-right
      %ul
        %li Услуги
        %li Агентство
        %li Контакты
        %li Полезные статьи
        %li +7 (800) 333-40-25
    .promo_block
      %p
        Разрабатываем
        %br
        и реализуем комплексные
        %br
        рекламные кампании
        %br
        в интернете
      %a.yellow_button
        Познакомиться поближе

.key_features
  %h3.block_title.visible-xs.visible-sm Максимальная отдача
  .container
    %h3.hidden-xs.hidden-sm Максимальную отдачу на вложенный бюджет нашим клиентам обеспечивают
    %hr.hidden-xs.hidden-sm 
    .row.features
      .col-md-4
        .features__image_wrapper
          = image_tag "analytics.jpg"
        %h4 Аналитика
        %p
          Мы уделяем огромное внимание
          %br
          анализу и отслеживанию
      .col-md-4
        .features__image_wrapper
          = image_tag "planning.jpg"
        %h4 Планирование
        %p
          В основе каждой рекламной кампании
          %br
          подробный медиаплан
      .col-md-4
        .features__image_wrapper
          = image_tag "tracking.jpg"
        %h4 Отслеживание
        %p
        Результат рекламных кампаний всегда
        %br
        измеряем и прозрачен

.media_plan.hidden-xs.hidden-sm 
  .container
    .row
    .col-md-8
      %span
        Для каждой рекламной кампании мы готовим индивидуальный
        %br
        план, с учетом особенностей Вашей компании и рынка
      %a.black_button
        Заказать план
    .col-md-2
      .plan
      
.systematic_approach
  %h3.block_title.visible-xs.visible-sm Системный подход
  .container
    %h3.hidden-xs.hidden-sm Cистемный подход
    %hr.hidden-xs.hidden-sm 
    .row.features
      .col-md-4
        .features__image_wrapper
          = image_tag "social_networks.png"
        %h4 Продвигаем в социальных сетях
        %p
          Мы уделяем огромное внимание
          %br
          анализу и отслеживанию
      .col-md-4
        .features__image_wrapper
          = image_tag "efficiency.png"
        %h4 Оцениваем результаты повышаем эффективность
        
        %p
          В основе каждой рекламной кампании
          %br
          подробный медиаплан
      .col-md-4
        .features__image_wrapper
          = image_tag "planning.png"
        %h4 Планируем
        %p
        Результат рекламных кампаний всегда
        %br
        измеряем и прозрачен
    .sales_funnel
      = image_tag "sales_funnel.png", class: "hidden-xs hidden-sm"
      = image_tag "sales_funnel_sm.png", class: "visible-xs visible-sm"
    .row.features
      .col-md-4
        .features__image_wrapper
          = image_tag "analytics.png"
        %h4 Анализируем
        %p
          Мы уделяем огромное внимание
          %br
          анализу и отслеживанию
      .col-md-4
        .features__image_wrapper
          = image_tag "integration.png"
        %h4 Интеграция с CRM и IP телефония
        %p
          В основе каждой рекламной кампании
          %br
          подробный медиаплан
      .col-md-4
        .features__image_wrapper
          = image_tag "sales.png"
        %h4 Увеличиваем продажи
        %p
        Результат рекламных кампаний всегда
        %br
        измеряем и прозрачен
.process
  %h3.block_title.visible-xs.visible-sm Прозрачный процесс
  .container
    %h3.hidden-xs.hidden-sm  Понятный и прозрачный процесс
    %hr.hidden-xs.hidden-sm 
    .row.features
      .col-md-2.col-md-offset-1
        .features__image_wrapper
          = image_tag "request.png"
        %h4 Заявка
        %p
          Мы уделяем огромное внимание
          %br
          анализу и отслеживанию
      .col-md-2
        .features__image_wrapper
          = image_tag "information.png"
        %h4 Анализ и сбор информации
        %p
          В основе каждой рекламной кампании
          %br
          подробный медиаплан
      .col-md-2
        .features__image_wrapper
          = image_tag "strategy.png"
        %h4 Стратегия и планирование
        %p
        Результат рекламных кампаний всегда
        %br
        измеряем и прозрачен
      .col-md-2
        .features__image_wrapper
          = image_tag "customization.png"
        %h4 Настройка и запуск
        %p
        Результат рекламных кампаний всегда
        %br
        измеряем и прозрачен
      .col-md-2
        .features__image_wrapper
          = image_tag "support.png"
        %h4 Ведение и развитие
        %p
        Результат рекламных кампаний всегда
        %br
        измеряем и прозрачен
    .row
      %a.yellow_button
        Познакомиться поближе

.work_with_us
  %h3.block_title.visible-xs.visible-sm  Работать с нами легко
  .container
    %h3.hidden-xs.hidden-sm  Работать с нами легко и приятно
    %hr.hidden-xs.hidden-sm 
    .row.features
      .col-md-4
        .features__image_wrapper
          = image_tag "reports.png"
        %h4 Полная отчетность
      .col-md-4
        .features__image_wrapper
          = image_tag "clock.png"
        %h4 Точность и пунктуальность
      .col-md-4
        .features__image_wrapper
          = image_tag "in_touch.png"
        %h4 Мы всегда на связи

.footer
  .container
    .row
      .col-md-6
        %span.copyright &copy; 2011-2014 Digital Sunrise
        %nav.social-nav
          %ul
            %li= image_tag "icon-fb.gif"
            %li= image_tag "icon-vk.gif"
            %li= image_tag "icon-twitter.gif"
            %li= image_tag "icon-gplus.gif"
            %li= image_tag "icon-linkedin.gif"
            %li= image_tag "icon-slideshare.gif"
            %li= image_tag "icon-vimeo.gif"
        %span.tagline.visible-xs.visible-sm 
          Системный интернет-маркетинг 
          %br.visible-xs
          на B2B и B2C рынках
      .col-md-6.hidden-xs.hidden-sm
        %nav.main_menu.pull-right
          %ul
            %li Услуги
            %li Агентство
            %li Контакты
            %li Полезные статьи
            %li +7 (800) 333-40-25
        %hr.pull-right
        %span.tagline.pull-right Системный интернет-маркетинг на B2B и B2C рынках

  
  
  