// Google Tag Manager (noscript)
%noscript
  %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-P3RPFF4", :style => "display:none;visibility:hidden", :width => "0"}
// End Google Tag Manager (noscript)

.header-sm.visible-xs.visible-sm
  .logo
    .container
      %picture
        %source{type: "image/webp", srcset: "#{image_path('logo.webp')}", loading: "lazy", width: "330", height: "82"}
        %source{type: "image/png", srcset: "#{image_path('logo.png')}", loading: "lazy", width: "330", height: "82"}
        = image_tag("logo.png", alt: "Логотип", loading: "lazy", width: "330", height: "82")
      %h2{ itemprop: "name"}
        Digital Sunrise
      %p
        комплексный интернет маркетинг
        %br
        для успешных продаж
  %nav.navbar.navbar-default.main_menu-sm{:role => "navigation"}
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %a.navbar-brand.pull-right.hidden-sm{href: "tel: #{ENV['PHONE']}"}
          = ENV["PHONE"]
        %button.navbar-toggle.pull-left{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      / Collect the nav links, forms, and other content for toggling
      #navbar-collapse.collapse.navbar-collapse
        %a.navbar-brand.navbar-right.hidden-xs{href: "tel: #{ENV['PHONE']}"}
          = ENV["PHONE"]
        %ul.nav.navbar-nav
          %li
            %a{:href => "#"} Услуги
          %li
            %a{:href => "#"} Агентство
          %li
            %a{:href => "#"} Контакты
          %li
            %a{:href => "#"} Полезные статьи
      / /.navbar-collapse
    / /.container-fluid
  .promo_block
    .container
      %h1
        Омниканальные рекламные
        %br.visible-xs
        кампании для Вашего бизнеса.
        %br.visible-xs
        Эффективное сочетание
        %br.visible-xs
        наружной рекламы и digital.
        %br
        %br Без увеличения бюджета.
        %br.visible-xs

      %a.yellow_button{"data-target" => "#form-more", "data-toggle" => "modal", onclick: "ym(48924050, 'reachGoal', 'clickmore_dsk');"}
        Больше клиентов
.header.hidden-xs.hidden-sm
  .container
    .logo
      %picture
        %source{type: "image/webp", srcset: "#{image_path('logo.webp')}", loading: "lazy", width: "330", height: "82"}
        %source{type: "image/png", srcset: "#{image_path('logo.png')}", loading: "lazy", width: "330", height: "82"}
        = image_tag("logo.png", alt: "Логотип", loading: "lazy", width: "330", height: "82")
      %h2{ itemprop: "name"}
        Digital Sunrise
      %p
        комплексный интернет маркетинг
        %br
        для успешных продаж
    %nav.main_menu.pull-right
      %ul
        / %li Услуги
        / %li Агентство
        / %li Контакты
        / %li Полезные статьи
        %li
          %a{href: "tel: #{ENV['PHONE']}"}
            = ENV["PHONE"]
    .promo_block
      %h1{ itemprop: "description"}
        Омниканальные рекламные кампании
        %br
        для Вашего бизнеса. Эффективное сочетание
        %br
        наружной рекламы и digital.
        %br
        %br Без увеличения бюджета.
      %a.yellow_button{"data-target" => "#form-more", "data-toggle" => "modal", onclick: "ym(48924050, 'reachGoal', 'clickmore_dsk');"}
        Больше новых клиентов

.key_features
  %h3.block_title.visible-xs.visible-sm Максимальная отдача
  .container
    %h3.hidden-xs.hidden-sm Получите максимальную отдачу от интернет-рекламы
    %hr.hidden-xs.hidden-sm
    .row.features
      .col-md-4
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('analyticst.webp')}", loading: "lazy", width: "147", height: "125"}
            %source{type: "image/jpeg", srcset: "#{image_path('analyticst.jpg')}", loading: "lazy", width: "147", height: "125"}
            = image_tag("analyticst.jpg", alt: "Цель", loading: "lazy", width: "147", height: "125")
        %h4 Цель
        %p
          Ставим цели, проводим аналитику, фиксируем текущие и заданные показатели
      .col-md-4
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('planningt.webp')}", loading: "lazy", width: "122", height: "125"}
            %source{type: "image/jpeg", srcset: "#{image_path('planningt.jpg')}", loading: "lazy", width: "122", height: "125"}
            = image_tag("planningt.jpg", alt: "Старт", loading: "lazy", width: "122", height: "125")
        %h4 Старт
        %p
          Планируем и разрабатываем концепцию проекта. Запускаем рекламную кампанию, измеряем KPI на каждом этапе.
      .col-md-4
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('trackingt.webp')}", loading: "lazy", width: "101", height: "125"}
            %source{type: "image/jpeg", srcset: "#{image_path('trackingt.jpg')}", loading: "lazy", width: "101", height: "125"}
            = image_tag("trackingt.jpg", alt: "Результат", loading: "lazy", width: "101", height: "125")
        %h4 Результат
        %p
          Анализируем достигнутые цели, проводим серию тестов, вносим изменения, достигаем заданного результата

.media_plan.hidden-xs.hidden-sm
  .container
    .row
      .col-md-8
        %span
          Для эффективной рекламной кампании наши специалисты
          %br
          разрабатывают детальный медиаплан с учетом
          %br
          особенностей вашего бизнеса и рынка
        %a.black_button{"data-target" => "#form-plan", "data-toggle" => "modal", onclick: "ym(48924050, 'reachGoal', 'clickplan');"}
          Спланировать бюджет
      .col-md-2
        .plan

.systematic_approach
  %h3.block_title.visible-xs.visible-sm Системный подход
  .container
    %h3.hidden-xs.hidden-sm Cистемный интернет маркетинг и внедрение сквозной аналитики
    %hr.hidden-xs.hidden-sm
    .row.features
      .col-md-4
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('social_networks.webp')}", loading: "lazy", width: "95", height: "76"}
            %source{type: "image/png", srcset: "#{image_path('social_networks.png')}", loading: "lazy", width: "95", height: "76"}
            = image_tag("social_networks.png", alt: "Многоканальные рекламные кампании", loading: "lazy", width: "95", height: "76")
        %h4
          Многоканальные рекламные
          %br
          кампании
        %p
          Включают в себя популяризацию бренда (разработка стратегии и концепции, мониторинг), создание и продвижение площадок. Это позволяет оптимизировать маркетинг-каналы, увеличить эффективность компании на 79% за счёт ремаркетинга, оценить экономическую целесообразность всего комплекса применяемых инструментов.
      .col-md-4
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('efficiency.webp')}", loading: "lazy", width: "66", height: "76"}
            %source{type: "image/png", srcset: "#{image_path('efficiency.png')}", loading: "lazy", width: "66", height: "76"}
            = image_tag("efficiency.png", alt: "Оптимизация коэффициента конверсии, веб-аналитика", loading: "lazy", width: "66", height: "76")
        %h4
          Оптимизация коэффициента конверсии,
          %br веб-аналитика
        %p
          Мы предлагаем вам разработку аналитической инфраструктуры, создание индивидуальных инструментов управленческой отчетности и отслеживания данных. Системный подход к вопросу повышения коэффициента конверсии, сплит-тесты для увеличения вашей прибыли более чем в 2-3 раза!
      .col-md-4
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('planning.webp')}", loading: "lazy", width: "96", height: "76"}
            %source{type: "image/png", srcset: "#{image_path('planning.png')}", loading: "lazy", width: "96", height: "76"}
            = image_tag("planning.png", alt: "Тонкая настройка рекламы для роста ваших продаж", loading: "lazy", width: "96", height: "76")
        %h4
          Тонкая настройка рекламы для
          %br
          роста ваших продаж
        %p
          Мы не только организовываем и проводим рекламные кампании, но и осуществляем текущий контроль над выполнением всех мероприятий, оцениваем коммуникативную и экономическую эффективность рекламы. Это позволяет постоянно совершенствовать маркетинговые коммуникации, повышая эффективность контакта с аудиторией.
    .sales_funnel
      %picture
        %source{type: "image/webp", srcset: "#{image_path('sales_funnel.webp')}", class: "hidden-xs hidden-sm", loading: "lazy", width: "745", height: "383"}
        %source{type: "image/png", srcset: "#{image_path('sales_funnel.png')}", class: "hidden-xs hidden-sm", loading: "lazy", width: "745", height: "383"}
        = image_tag("sales_funnel.png", alt: "Воронка продаж", class: "hidden-xs hidden-sm", loading: "lazy", width: "745", height: "383")
      %picture
        %source{type: "image/webp", srcset: "#{image_path('sales_funnel_sm.webp')}", class: "visible-xs visible-sm", loading: "lazy", width: "290", height: "627"}
        %source{type: "image/png", srcset: "#{image_path('sales_funnel_sm.png')}", class: "visible-xs visible-sm", loading: "lazy", width: "290", height: "627"}
        = image_tag("sales_funnel_sm.png", alt: "Воронка продаж", class: "visible-xs visible-sm", loading: "lazy", width: "290", height: "627")
    .row.features
      .col-md-4
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('analytic.webp')}", loading: "lazy", width: "88", height: "88"}
            %source{type: "image/png", srcset: "#{image_path('analytic.png')}", loading: "lazy", width: "88", height: "88"}
            = image_tag("analytic.png", alt: "Реклама в нужное время и в нужном месте", loading: "lazy", width: "88", height: "88")
        %h4
          Реклама в нужное время
          %br
          и в нужном месте
        %p
          Реализуем комплекс мер, объединенных общей стратегией и KPI, направленных на увеличение прибыли и эффективного ROI. Наша цель &ndash; спрогнозировать сроки, бюджет и результат. Донести рекламное сообщение до максимально возможного числа потенциальных потребителей в рамках выделенного бюджета с минимальными затратами.
      .col-md-4
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('integration.webp')}", loading: "lazy", width: "82", height: "80"}
            %source{type: "image/png", srcset: "#{image_path('integration.png')}", loading: "lazy", width: "82", height: "80"}
            = image_tag("integration.png", alt: "Интеграция с CRM и IP телефонией", loading: "lazy", width: "82", height: "80")
        %h4
          Интеграция с CRM и
          %br
          IP телефонией
        %p
          Позволяет проводить «сквозную» аналитику до продаж, считать и прогнозировать эффективность каждого рекламного канала в отдельности, измерять многоканальные коммуникации с клиентами и цикл сделки, централизованно управлять продажами и входящим маркетингом в реальном времени.
      .col-md-4
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('sales.webp')}", loading: "lazy", width: "79", height: "65"}
            %source{type: "image/png", srcset: "#{image_path('sales.png')}", loading: "lazy", width: "79", height: "65"}
            = image_tag("sales.png", alt: "Мы поднимем ваши продажи на новый уровень", loading: "lazy", width: "79", height: "65")
        %h4
          Мы поднимем ваши продажи
          %br
          на новый уровень
        %p
          Для анализа маркетинговых активностей и текущей ситуации в вашей нише,
          мы применяем методологию, основанную на эконометрическом анализе BIG DATA. Эта методика позволяет существенно повысить эффективность маркетинга и построить математическую модель для эффективного ведения вашего бизнеса в интернете. LTV, ROI.
.process
  %h3.block_title.visible-xs.visible-sm Работать с нами легко
  .container
    %h3.hidden-xs.hidden-sm  Рабоать с нами легко. Начните сейчас
    %hr.hidden-xs.hidden-sm


    .row.features
      .col-md-2.col-md-offset-1.col-sm-6
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('request.webp')}", loading: "lazy", width: "71", height: "86"}
            %source{type: "image/png", srcset: "#{image_path('request.png')}", loading: "lazy", width: "71", height: "86"}
            = image_tag("request.png", alt: "Заявка", loading: "lazy", width: "71", height: "86")
        %h4 Заявка
        %p
          Вы оставляете
          заявку на сайте
          или связываетесь
          с нами по телефону
      .col-md-2.col-sm-6
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('information.webp')}", loading: "lazy", width: "88", height: "86"}
            %source{type: "image/png", srcset: "#{image_path('information.png')}", loading: "lazy", width: "88", height: "86"}
            = image_tag("information.png", alt: "Аналитика и цели", loading: "lazy", width: "88", height: "86")
        %h4 Аналитика и цели
        %p
          Мы анализируем динамику спроса
          в вашей нише,
          на основании чего составляем медиаплан. Просчитываем маркетинговый бюджет для рекламной кампании
      .col-md-2.col-sm-6
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('strategy.webp')}", loading: "lazy", width: "86", height: "86"}
            %source{type: "image/png", srcset: "#{image_path('strategy.png')}", loading: "lazy", width: "86", height: "86"}
            = image_tag("strategy.png", alt: "Стратегии успеха", loading: "lazy", width: "86", height: "86")
        %h4 Стратегии успеха
        %p
          Мы разрабатываем систему маркетинговых мероприятий, направленную на достижение целей рекламной кампании
      .col-md-2.col-sm-6
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('customization.webp')}", loading: "lazy", width: "88", height: "86"}
            %source{type: "image/png", srcset: "#{image_path('customization.png')}", loading: "lazy", width: "88", height: "86"}
            = image_tag("customization.png", alt: "Анализ показателей", loading: "lazy", width: "88", height: "86")
        %h4 Анализ показателей
        %p
          Детальный анализ статистики позволяет понять, какие шаги необходимо предпринять для увеличения числа клиентов и оптимизации бюджета на трафик.
      .col-md-2.col-sm-6.col-sm-offset-3.col-md-offset-0
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('support.webp')}", loading: "lazy", width: "66", height: "86"}
            %source{type: "image/png", srcset: "#{image_path('support.png')}", loading: "lazy", width: "66", height: "86"}
            = image_tag("support.png", alt: "Системное развитие", loading: "lazy", width: "66", height: "86")
        %h4 Системное развитие
        %p
          Мы осуществляем контроль расхода рекламного бюджета, вносим регулярные улучшения в рекламу, рассчитываем стоимость клиента, ROI, LTV и оптимизируем эти показатели.
    .row
      %a.yellow_button.hidden-xs.hidden-sm{"data-target" => "#form-go", "data-toggle" => "modal", onclick: "ym(48924050, 'reachGoal', 'clickgo_dsk');"}
        Начните с консультации

.work_with_us
  %h3.block_title.visible-xs.visible-sm  Детальная отчётность
  .container
    %h3.hidden-xs.hidden-sm  Маркетинг, который можно измерить
    %hr.hidden-xs.hidden-sm
    .row.features
      .col-md-4
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('reports.webp')}", loading: "lazy", width: "96", height: "125"}
            %source{type: "image/png", srcset: "#{image_path('reports.png')}", loading: "lazy", width: "96", height: "125"}
            = image_tag("reports.png", alt: "Прозрачная отчётность раз в месяц, сводные данные, аналитика, выводы", loading: "lazy", width: "96", height: "125")
        %h4 Прозрачная отчётность раз в месяц, сводные данные, аналитика, выводы
      .col-md-4
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('clock.webp')}", loading: "lazy", width: "118", height: "125"}
            %source{type: "image/png", srcset: "#{image_path('clock.png')}", loading: "lazy", width: "118", height: "125"}
            = image_tag("clock.png", alt: "Прогнозирование и комплексная оценка результата, сроков и стоимости", loading: "lazy", width: "118", height: "125")
        %h4
          Прогнозирование и комплексная оценка результата, сроков
          %br
          и стоимости
      .col-md-4
        .features__image_wrapper
          %picture
            %source{type: "image/webp", srcset: "#{image_path('in_touch.webp')}", loading: "lazy", width: "131", height: "125"}
            %source{type: "image/png", srcset: "#{image_path('in_touch.png')}", loading: "lazy", width: "131", height: "125"}
            = image_tag("in_touch.png", alt: "Контроль всех процессов в реальном времени, личный менеджер", loading: "lazy", width: "131", height: "125")
        %h4
          Контроль всех процессов
          %br
          в реальном времени,
          %br
          личный менеджер
    .row
      .col-md-4
        %a.yellow_button.visible-xs.visible-sm{"data-target" => "#form-go", "data-toggle" => "modal", onclick: "ym(48924050, 'reachGoal', 'clickgo_dsk');"}
          Начните с консультации

= image_tag("ds.jpg", style:"display:none;", itemprop: "image", alt: "Логотип", loading: "lazy", width: "1000", height: "1000")
