.footer
  .container
    .row
      .col-md-6
        %span.copyright
          &copy; 
          = "2011-#{Time.now.year} Digital Sunrise"
        %nav.social-nav
          %ul
            %li
              %a.fb{href: "https://www.facebook.com/digital.sunrise/"}
            %li
              %a.tw{href: "https://twitter.com/digital5unrise"}
            %li
              %a.yt{href: "https://youtube.com/channel/UCApOog3c1knsAifvk23U_YA"}
            %li
              %a.tg{href: "https://t.me/ds_marketing"}
            %li
              %a.in{href: "https://www.instagram.com/a.sunrisedigital/"}
        %span.tagline.visible-xs.visible-sm 
          Системный интернет-маркетинг 
          %br.visible-xs
          на B2B и B2C рынках
          %br
          %a{"data-target" => "#privacy_policy", "data-toggle" => "modal"}
            Политика конфиденциальности
      .col-md-6.hidden-xs.hidden-sm
        %nav.main_menu.pull-right
          %ul
            %li= mail_to "#{ENV['EMAIL']}"
            %li 
              %a{href: "tel: #{ENV['PHONE']}"}
                = ENV["PHONE"]
        %hr.pull-right
        %span.tagline.pull-right Системный интернет-маркетинг на B2B и B2C рынках
        %br.clear
        %a.pull-right{"data-target" => "#privacy_policy", "data-toggle" => "modal"}
          Политика конфиденциальности