#form-more.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            = image_tag "close.png"
          %span.sr-only Закрыть
        %h4#myModalLabel.modal-title Заполните форму для связи с нами
      .modal-body
        .row
          .col-md-5.col-md-offset-1.col-sm-5.col-sm-offset-1
            %p
              Залог эффективности интернет-маркетинга – комплексность с прицелом на потенциального клиента. Заполните форму, введите свое имя, телефон и email и мы, без увеличения рекламного бюджета, увеличим количество звонков и заявок с вашего сайта.
          .col-md-5.col-sm-5
            = form_for @request, validate: true, url: requests_submit_form_path, method: "get", html: {id: "submitmore", onsubmit: "ym(48924050, 'reachGoal', 'submitmore');"} do |f|
              = f.hidden_field :type, value: "More"
              = f.text_field :name, placeholder: "Ваше имя"
              = f.phone_field :phone, placeholder: "Телефон"
              = f.text_field :email, placeholder: "E-mail", type: "email"
              = f.submit "Отправить"
            %p
              %small Отправляя данные, вы соглашаетесь на обработку персональных данных
              %br
              %small
                %a{"href" => "", "data-target" => "#privacy_pol", "data-toggle" => "modal"}
                  политика конфиденциальности
              %br
              %small
                %a{"href" => "", "data-target" => "#privacy", "data-toggle" => "modal"}
                  privacy policy
      
#form-plan.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            = image_tag "close.png"
          %span.sr-only Закрыть
        %h4#myModalLabel.modal-title Заполните форму для связи с нами
      .modal-body
        .row
          .col-md-5.col-md-offset-1.col-sm-5.col-sm-offset-1
            %p
              Введите ваше имя, телефон и email и получите детальное Коммерческое предложение в течение 2-х рабочих дней, с момента оформления заказа. Мы гарантируем, что ваши персональные данные будут использоваться только для разработки КП.
          .col-md-5.col-sm-5
            = form_for @request, validate: true, url: requests_submit_form_path, method: "get", html: { id: 'submitplan', onsubmit: "ym(48924050, 'reachGoal', 'submitplan');"} do |f|
              = f.hidden_field :type, value: "Plan"
              = f.text_field :name, placeholder: "Ваше имя"
              = f.phone_field :phone, placeholder: "Телефон"
              = f.text_field :email, placeholder: "E-mail", type: "email"
              = f.submit "Отправить"
            %p
              %small Отправляя данные, вы соглашаетесь на обработку персональных данных
              %br
              %small
                %a{"href" => "", "data-target" => "#privacy_pol", "data-toggle" => "modal"}
                  политика конфиденциальности
              %br
              %small
                %a{"href" => "", "data-target" => "#privacy", "data-toggle" => "modal"}
                  privacy policy

#form-go.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            = image_tag "close.png"
          %span.sr-only Закрыть
        %h4#myModalLabel.modal-title Заполните форму для связи с нами
      .modal-body
        .row
          .col-md-5.col-md-offset-1.col-sm-5.col-sm-offset-1
            %p
              Возникли вопросы? Нужна профессиональная консультация? Вам неудобно описывать задачу по телефону? Введите свое имя, email и телефон, мы свяжемся с вами удобным для вас способом, ответим на ваши вопросы, уточним задачи, отправим коммерческое предложение.
          .col-md-5.col-sm-5
            = form_for @request, :validate => true, url: requests_submit_form_path, method: "get", html: { id: 'submitgo', onsubmit: "ym(48924050, 'reachGoal', 'submitgo');"} do |f|
              = f.hidden_field :type, value: "Go"
              = f.text_field :name, placeholder: "Ваше имя"
              = f.phone_field :phone, placeholder: "Телефон"
              = f.text_field :email, placeholder: "E-mail", type: "email"
              = f.submit "Отправить"
            %p
              %small Отправляя данные, вы соглашаетесь на обработку персональных данных
              %br
              %small
                %a{"href" => "", "data-target" => "#privacy_pol", "data-toggle" => "modal"}
                  политика конфиденциальности
              %br
              %small
                %a{"href" => "", "data-target" => "#privacy", "data-toggle" => "modal"}
                  privacy policy
      
#privacy_pol.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            = image_tag "close.png"
          %span.sr-only Закрыть
        %h4#myModalLabel.modal-title Политика конфиденциальности
      .modal-body
        .row
          .col-md-12.col-sm-12
            %p
              %h4 Введение

              Мы стремимся уважать информацию личного характера, касающуюся посетителей нашего сайта. В настоящей Политике конфиденциальности разъясняются некоторые из мер, которые мы предпринимаем для защиты вашей частной жизни.

              %h4 Конфиденциальность информации личного характера
              %h5 Получение информации частного характера
              Мы получаем информацию частного характера о вас, в том числе информацию, которую вы предоставляете, когда делитесь какой-либо историей, направляете нам письмо или подписываетесь на получение электронных информационных сообщений с нашего сайта. "Информация личного характера" обозначает любую информацию, которая может быть использована для идентификации личности, например, фамилия или адрес электронной почты.

              %h5 Использование информации частного характера
              Информация личного характера, полученная в формате бумажных регистрационных форм или через наш сайт, используется нами, среди прочего, для целей регистрирования пользователей, для поддержки работы и совершенствования нашего сайта, отслеживания политики и статистики пользования сайтом, а также в целях, разрешенных вами. Кроме того, мы используем информацию личного характера для поддержания с вами связи иными способами. Например, если вы направляете нам сообщение через данный сайт, мы можем воспользоваться Вашей персональной информацией, чтобы ответить на него. Мы также используем персональную информацию для того, чтобы проинформировать вас о внесении существенных изменений в настоящую Политику конфиденциальности.
              %br
              Время от времени мы можем приглашать пользователей предоставлять информацию в формате опросов или анкет. Участие в таких опросах или подписных листах совершенно добровольно, следовательно, пользователь сайта может принять решение, раскрывать ли запрашиваемую информацию. В дополнение к прочим целям, предусмотренным в настоящей Политике конфиденциальности, контактная информация, полученная в связи с опросами или анкетами, используется для сообщения вам результатов опросов или анкетирования, а также для контроля или совершенствования использования и повышения удовлетворенности данным сайтом.

              %h5 Раскрытие информации частного характера
              Мы нанимаем другие компании или связаны с компаниями, которые по нашему поручению предоставляют услуги, такие как обработка и доставка информации, размещение информации на данном сайте, доставка содержания и услуг, предоставляемых настоящим сайтом, выполнение статистического анализа. Чтобы эти компании могли предоставлять эти услуги, мы можем сообщать им информацию личного характера, однако им будет разрешено получать только ту информацию личного характера, которая необходима им для предоставления услуг. Они обязаны соблюдать конфиденциальность этой информации, и им запрещено использовать ее в иных целях.
              %br
              Мы можем использовать или раскрывать ваши личные данные и по иным причинам, в том числе, если мы считаем, что это необходимо в целях выполнения требований закона или решений суда, для защиты наших прав или собственности, защиты личной безопасности пользователей нашего сайта или представителей широкой общественности, обеспечения соблюдения Условий Пользования нашим сайтом или других соглашений, в целях расследования или принятия мер в отношении незаконной или предполагаемой незаконной деятельности, в связи с корпоративными сделками, такими как разукрупнение, слияние, консолидация, продажа активов или в маловероятном случае банкротства, или в иных целях в соответствии с вашим согласием.
              Мы можем раскрывать содержание сообщений, рассказов или писем, однако мы не будем размещать или публиковать информацию личного характера, а также, за исключением случаев, предусмотренных в настоящей Политике конфиденциальности, такая информация не будет предоставляться оказывающим услуги третьим сторонам без вашего согласия. Мы не будем продавать, предоставлять на правах аренды или лизинга наши списки пользователей с адресами электронной почты третьим сторонам.

              %h5 Доступ к информации личного характера
              Если после предоставления информации на данный сайт, вы решите, что вы не хотите, чтобы Ваша Персональная информация использовалась в каких-либо целях, вы можете исключить себя из списка DigitalSunrise, связавшись с нами по следующему адресу: hello@digitalsunrise.ru.
              
              %h5 Информация личного характера в отношении детей
              Мы стремимся защищать конфиденциальность информации о детях. Наш сайт предназначен для широкой общественности, и мы не получаем преднамеренно личную информацию от детей моложе 13 лет. Когда и если на нашем сайте запрашивается информация о возрасте, и пользователи указывают возраст до 13 лет, сайт автоматически блокирует получение личной информации от таких пользователей и блокирует их регистрацию в качестве пользователей сайта.

              %h5 Наша практика в отношении информации неличного характера
              Мы можем собирать информацию неличного характера о вашем посещении сайта, в том числе просматриваемые вами страницы, выбираемые вами ссылки, а также другие действия в связи с вашим использованием нашего сайта. Кроме того, мы можем собирать определенную стандартную информацию, которую ваш браузер направляет на любой посещаемый вами сайт, такую как ваш IP-адрес, тип браузера и язык, время, проведенное на сайте, и адрес соответствующего веб-сайта.

              %h5 Использование закладок (cookies)
              Файл cookie - это небольшой текстовый файл, размещаемый на вашем твердом диске нашим сервером. Cookies содержат информацию, которая позже может быть нами прочитана. Никакие данные, собранные нами таким путем, не могут быть использованы для идентификации посетителя сайта. Не могут cookies использоваться и для запуска программ или для заражения вашего компьютера вирусами. Мы используем cookies в целях контроля использования нашего сайта, сбора информации неличного характера о наших пользователях, сохранения ваших предпочтений и другой информации на вашем компьютере с тем, чтобы сэкономить ваше время за счет снятия необходимости многократно вводить одну и ту же информацию, а также в целях отображения вашего персонализированного содержания в ходе ваших последующих посещений нашего сайта. Эта информация также используется для статистических исследований, направленных на корректировку содержания в соответствии с предпочтениями пользователей.

              %h5 Агрегированная информация
              Мы можем объединять в неидентифицируемом формате предоставляемую вами личную информацию и личную информацию, предоставляемую другими пользователями, создавая таким образом агрегированные данные. Мы планируем анализировать данные агрегированного характера в основном в целях отслеживания групповых тенденций. Мы не увязываем агрегированные данные о пользователях с информацией личного характера, поэтому агрегированные данные не могут использоваться для установления связи с вами или вашей идентификации. Вместо фактических имен в процессе создания агрегированных данных и анализа мы будем использовать имена пользователей. В статистических целях и в целях отслеживания групповых тенденций анонимные агрегированные данные могут предоставляться другим компаниям, с которыми мы взаимодействуем.

              %h5 Ссылки на другие сайты
              Данная Политика конфиденциальности относится только к информации, собираемой данным сайтом. На данном сайте могут иметься ссылки на другие сайты, не принадлежащие нам и не контролируемые нами. Мы не несем ответственности за используемую такими сайтами политику конфиденциальности. Когда вы уходите с нашего сайта, вам следует ознакомиться с заявлением о конфиденциальности каждого сайта, собирающего личную информацию.

              %h5 Изменения, вносимые в настоящее Заявление о конфиденциальности
              Мы сохраняeм за собой право время от времени вносить изменения или дополнения в настоящую Политику конфиденциальности - частично или полностью. Мы призываем вас периодически перечитывать нашу Политику конфиденциальности с тем, чтобы быть информированными относительно того, как мы защищаем вашу личную информацию. С последним вариантом Политики конфиденциальности можно ознакомиться путем нажатия на гипертекстовую ссылку <Политика конфиденциальности>, находящуюся в нижней части домашней страницы данного сайта. Во многих случаях, при внесении изменений в Политику конфиденциальности, мы также изменяем и дату, проставленную в начале текста Политики конфиденциальности, однако других уведомлений об изменениях мы можем вам не направлять. Однако, если речь идет о существенных изменениях, мы уведомим вас, либо разместив предварительное заметное объявление о таких изменениях, либо непосредственно направив вам уведомление по электронной почте. Продолжение использования вами данного сайта и выход на него означает ваше согласие с такими изменениями.

              %h5 Связь с нами.
              Если у вас возникли какие-либо вопросы или предложения по поводу нашего положения о конфиденциальности, пожалуйста, свяжитесь с нами по следующему адресу: hello@digitalsunrise.ru

#privacy.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            = image_tag "close.png"
          %span.sr-only Закрыть
        %h4#myModalLabel.modal-title Privacy Policy
      .modal-body
        .row
          .col-md-12.col-sm-12
            %p
              %h4 Политика в отношении обработки персональных данных

              %h5 1. Общие положения 
              Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые ООО Высокие технологии (далее – Оператор).
              %br
              1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
              %br
              1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта https://sunrisedigital.ru.
              %br
              %h5 2. Основные понятия, используемые в Политике
              2.1. Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;
              %br
              2.2. Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
              %br
              2.3. Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу https://sunrisedigital.ru;
              %br
              2.4. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;
              %br
              2.5. Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;
              %br
              2.6. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;
              %br
              2.7. Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
              %br
              2.8. Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта https://sunrisedigital.ru;
              %br
              2.9. Пользователь – любой посетитель веб-сайта https://sunrisedigital.ru;
              %br
              2.10. Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;
              %br
              2.11. Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;
              %br
              2.12. Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;
              %br
              2.13. Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) уничтожаются материальные носители персональных данных.
              %br
              %h5 3. Оператор может обрабатывать следующие персональные данные Пользователя
              3.1. Фамилия, имя, отчество;
              %br
              3.2. Электронный адрес;
              %br
              3.3. Номера телефонов;
              %br
              3.4. Год, месяц, дата и место рождения;
              %br
              3.5. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
              %br
              3.6. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
              %br
              %h5 4. Цели обработки персональных данных
              4.1. Цель обработки персональных данных Пользователя — информирование Пользователя посредством отправки электронных писем; заключение, исполнение и прекращение гражданско-правовых договоров.
              %br
              4.2. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты privacy@sunrisedigital.ru с пометкой «Отказ от уведомлений о новых продуктах и услугах и специальных предложениях».
              %br
              4.3. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
              %br
              %h5 5. Правовые основания обработки персональных данных
              5.1. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте https://sunrisedigital.ru. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.
              %br
              5.2. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).
              %br
              %h5 6. Порядок сбора, хранения, передачи и других видов обработки персональных данных
              Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.
              6.1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.
              %br
              6.2. Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.
              %br
              6.3. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора privacy@sunrisedigital.ru с пометкой «Актуализация персональных данных».
              %br
              6.4. Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора privacy@sunrisedigital.ru с пометкой «Отзыв согласия на обработку персональных данных».
              %h5 7. Трансграничная передача персональных данных
              7.1. Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.
              %br
              7.2. Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.
              %h5 8. Заключительные положения
              8.1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты privacy@sunrisedigital.ru.
              %br
              8.2. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.
              %br
              8.3. Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу https://sunrisedigital.ru.