#form-more.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            = image_tag "close.png"
          %span.sr-only Закрыть
        %h4#myModalLabel.modal-title Заполните форму для связи с нами
      .modal-body
        .row
          .col-md-5.col-md-offset-1.col-sm-5.col-sm-offset-1
            %p
              Залог эффективности интернет-маркетинга – комплексность с прицелом на потенциального клиента. Заполните форму, введите свое имя, телефон и email и мы, без увеличения рекламного бюджета, увеличим количество звонков и заявок с вашего сайта.
          .col-md-5.col-sm-5
            = form_for @request, :validate => true, url: requests_submit_form_path, method: "get", html: {onsubmit: "yaCounter25983529.reachGoal('submitmore');"} do |f|
              = f.hidden_field :type, value: "More"
              = f.text_field :name, placeholder: "Ваше имя"
              = f.phone_field :phone, placeholder: "Телефон"
              = f.text_field :email, placeholder: "E-mail"
              = f.submit "Отправить"
            %p
              = image_tag "secure.png"
              %span Мы не передаем данные третьим лицам
      .modal-footer
      
#form-plan.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            = image_tag "close.png"
          %span.sr-only Закрыть
        %h4#myModalLabel.modal-title Заполните форму для связи с нами
      .modal-body
        .row
          .col-md-5.col-md-offset-1.col-sm-5.col-sm-offset-1
            %p
              Введите ваше имя, телефон и email и получите детальное Коммерческое предложение в течение 2-х рабочих дней, с момента оформления заказа. Мы гарантируем, что ваши персональные данные будут использоваться только для разработки КП.
          .col-md-5.col-sm-5
            = form_for @request, :validate => true, url: requests_submit_form_path, method: "get", html: { onsubmit: "yaCounter25983529.reachGoal('submitplan');"} do |f|
              = f.hidden_field :type, value: "Plan"
              = f.text_field :name, placeholder: "Ваше имя"
              = f.phone_field :phone, placeholder: "Телефон"
              = f.text_field :email, placeholder: "E-mail"
              = f.submit "Отправить"
            %p
              = image_tag "secure.png"
              %span Мы не передаем данные третьим лицам
      .modal-footer
#form-go.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            = image_tag "close.png"
          %span.sr-only Закрыть
        %h4#myModalLabel.modal-title Заполните форму для связи с нами
      .modal-body
        .row
          .col-md-5.col-md-offset-1.col-sm-5.col-sm-offset-1
            %p
              Возникли вопросы? Нужна профессиональная консультация? Вам неудобно описывать задачу по телефону? Введите свое имя, email и телефон, мы свяжемся с вами удобным для вас способом, ответим на ваши вопросы, уточним задачи, отправим коммерческое предложение.
          .col-md-5.col-sm-5
            = form_for @request, :validate => true, url: requests_submit_form_path, method: "get", html: {onsubmit: "yaCounter25983529.reachGoal('submitgo');"} do |f|
              = f.hidden_field :type, value: "Go"
              = f.text_field :name, placeholder: "Ваше имя"
              = f.phone_field :phone, placeholder: "Телефон"
              = f.text_field :email, placeholder: "E-mail"
              = f.submit "Отправить"
            %p
              = image_tag "secure.png"
              %span Мы не передаем данные третьим лицам
      .modal-footer
      
#privacy_policy.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            = image_tag "close.png"
          %span.sr-only Закрыть
        %h4#myModalLabel.modal-title Политика конфиденциальности
      .modal-body
        .row
          .col-md-12.col-sm-12
            %p
              %h4 Введение

              Мы стремимся уважать информацию личного характера, касающуюся посетителей нашего сайта. В настоящей Политике конфиденциальности разъясняются некоторые из мер, которые мы предпринимаем для защиты вашей частной жизни.

              %h4 Конфиденциальность информации личного характера
              %h5 Получение информации частного характера
              Мы получаем информацию частного характера о вас, в том числе информацию, которую вы предоставляете, когда делитесь какой-либо историей, направляете нам письмо или подписываетесь на получение электронных информационных сообщений с нашего сайта. "Информация личного характера" обозначает любую информацию, которая может быть использована для идентификации личности, например, фамилия или адрес электронной почты.

              %h5 Использование информации частного характера
              Информация личного характера, полученная в формате бумажных регистрационных форм или через наш сайт, используется нами, среди прочего, для целей регистрирования пользователей, для поддержки работы и совершенствования нашего сайта, отслеживания политики и статистики пользования сайтом, а также в целях, разрешенных вами. Кроме того, мы используем информацию личного характера для поддержания с вами связи иными способами. Например, если вы направляете нам сообщение через данный сайт, мы можем воспользоваться Вашей персональной информацией, чтобы ответить на него. Мы также используем персональную информацию для того, чтобы проинформировать вас о внесении существенных изменений в настоящую Политику конфиденциальности.
              %br
              Время от времени мы можем приглашать пользователей предоставлять информацию в формате опросов или анкет. Участие в таких опросах или подписных листах совершенно добровольно, следовательно, пользователь сайта может принять решение, раскрывать ли запрашиваемую информацию. В дополнение к прочим целям, предусмотренным в настоящей Политике конфиденциальности, контактная информация, полученная в связи с опросами или анкетами, используется для сообщения вам результатов опросов или анкетирования, а также для контроля или совершенствования использования и повышения удовлетворенности данным сайтом.

              %h5 Раскрытие информации частного характера
              Мы нанимаем другие компании или связаны с компаниями, которые по нашему поручению предоставляют услуги, такие как обработка и доставка информации, размещение информации на данном сайте, доставка содержания и услуг, предоставляемых настоящим сайтом, выполнение статистического анализа. Чтобы эти компании могли предоставлять эти услуги, мы можем сообщать им информацию личного характера, однако им будет разрешено получать только ту информацию личного характера, которая необходима им для предоставления услуг. Они обязаны соблюдать конфиденциальность этой информации, и им запрещено использовать ее в иных целях.
              %br
              Мы можем использовать или раскрывать ваши личные данные и по иным причинам, в том числе, если мы считаем, что это необходимо в целях выполнения требований закона или решений суда, для защиты наших прав или собственности, защиты личной безопасности пользователей нашего сайта или представителей широкой общественности, обеспечения соблюдения Условий Пользования нашим сайтом или других соглашений, в целях расследования или принятия мер в отношении незаконной или предполагаемой незаконной деятельности, в связи с корпоративными сделками, такими как разукрупнение, слияние, консолидация, продажа активов или в маловероятном случае банкротства, или в иных целях в соответствии с вашим согласием.
              Мы можем раскрывать содержание сообщений, рассказов или писем, однако мы не будем размещать или публиковать информацию личного характера, а также, за исключением случаев, предусмотренных в настоящей Политике конфиденциальности, такая информация не будет предоставляться оказывающим услуги третьим сторонам без вашего согласия. Мы не будем продавать, предоставлять на правах аренды или лизинга наши списки пользователей с адресами электронной почты третьим сторонам.

              %h5 Доступ к информации личного характера
              Если после предоставления информации на данный сайт, вы решите, что вы не хотите, чтобы Ваша Персональная информация использовалась в каких-либо целях, вы можете исключить себя из списка DigitalSunrise, связавшись с нами по следующему адресу: hello@digitalsunrise.ru.
              
              %h5 Информация личного характера в отношении детей
              Мы стремимся защищать конфиденциальность информации о детях. Наш сайт предназначен для широкой общественности, и мы не получаем преднамеренно личную информацию от детей моложе 13 лет. Когда и если на нашем сайте запрашивается информация о возрасте, и пользователи указывают возраст до 13 лет, сайт автоматически блокирует получение личной информации от таких пользователей и блокирует их регистрацию в качестве пользователей сайта.

              %h5 Наша практика в отношении информации неличного характера
              Мы можем собирать информацию неличного характера о вашем посещении сайта, в том числе просматриваемые вами страницы, выбираемые вами ссылки, а также другие действия в связи с вашим использованием нашего сайта. Кроме того, мы можем собирать определенную стандартную информацию, которую ваш браузер направляет на любой посещаемый вами сайт, такую как ваш IP-адрес, тип браузера и язык, время, проведенное на сайте, и адрес соответствующего веб-сайта.

              %h5 Использование закладок (cookies)
              Файл cookie - это небольшой текстовый файл, размещаемый на вашем твердом диске нашим сервером. Cookies содержат информацию, которая позже может быть нами прочитана. Никакие данные, собранные нами таким путем, не могут быть использованы для идентификации посетителя сайта. Не могут cookies использоваться и для запуска программ или для заражения вашего компьютера вирусами. Мы используем cookies в целях контроля использования нашего сайта, сбора информации неличного характера о наших пользователях, сохранения ваших предпочтений и другой информации на вашем компьютере с тем, чтобы сэкономить ваше время за счет снятия необходимости многократно вводить одну и ту же информацию, а также в целях отображения вашего персонализированного содержания в ходе ваших последующих посещений нашего сайта. Эта информация также используется для статистических исследований, направленных на корректировку содержания в соответствии с предпочтениями пользователей.

              %h5 Агрегированная информация
              Мы можем объединять в неидентифицируемом формате предоставляемую вами личную информацию и личную информацию, предоставляемую другими пользователями, создавая таким образом агрегированные данные. Мы планируем анализировать данные агрегированного характера в основном в целях отслеживания групповых тенденций. Мы не увязываем агрегированные данные о пользователях с информацией личного характера, поэтому агрегированные данные не могут использоваться для установления связи с вами или вашей идентификации. Вместо фактических имен в процессе создания агрегированных данных и анализа мы будем использовать имена пользователей. В статистических целях и в целях отслеживания групповых тенденций анонимные агрегированные данные могут предоставляться другим компаниям, с которыми мы взаимодействуем.

              %h5 Ссылки на другие сайты
              Данная Политика конфиденциальности относится только к информации, собираемой данным сайтом. На данном сайте могут иметься ссылки на другие сайты, не принадлежащие нам и не контролируемые нами. Мы не несем ответственности за используемую такими сайтами политику конфиденциальности. Когда вы уходите с нашего сайта, вам следует ознакомиться с заявлением о конфиденциальности каждого сайта, собирающего личную информацию.

              %h5 Изменения, вносимые в настоящее Заявление о конфиденциальности
              Мы сохраняeм за собой право время от времени вносить изменения или дополнения в настоящую Политику конфиденциальности - частично или полностью. Мы призываем вас периодически перечитывать нашу Политику конфиденциальности с тем, чтобы быть информированными относительно того, как мы защищаем вашу личную информацию. С последним вариантом Политики конфиденциальности можно ознакомиться путем нажатия на гипертекстовую ссылку <Политика конфиденциальности>, находящуюся в нижней части домашней страницы данного сайта. Во многих случаях, при внесении изменений в Политику конфиденциальности, мы также изменяем и дату, проставленную в начале текста Политики конфиденциальности, однако других уведомлений об изменениях мы можем вам не направлять. Однако, если речь идет о существенных изменениях, мы уведомим вас, либо разместив предварительное заметное объявление о таких изменениях, либо непосредственно направив вам уведомление по электронной почте. Продолжение использования вами данного сайта и выход на него означает ваше согласие с такими изменениями.

              %h5 Связь с нами.
              Если у вас возникли какие-либо вопросы или предложения по поводу нашего положения о конфиденциальности, пожалуйста, свяжитесь с нами по следующему адресу: hello@digitalsunrise.ru
      .modal-footer