!!!
%html
  %head
    %title Digital Sunrise
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}
    
    %meta{:content => "Digital Sunrise", :property => "og:title"}/
    %meta{:content => "/ds.jpg", :property => "og:image"}/
    %meta{:content => "Комплексный интернет-маркетинг — увеличение продаж в сети, индивидуальная статегия максимальный охват целевой аудитории", :property => "og:description"}/
    
    %meta{:content => "width=device-width, user-scalable=no", :name => "viewport"}
    %meta{:content => "telephone=yes", :name => "format-detection"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield
    = render "layouts/scripts"